Node-RED/Node-RED.txt
[{"id":"5ba8273d.72b4c8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ab5bc9f6.e6ee68","type":"serial-port","z":"","serialport":"COM11","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"0","bin":"bin","out":"time","addchar":"false","responsetimeout":""},{"id":"c58f19fb.873108","type":"ui_group","z":"","name":"Sensor Light","tab":"5b1f3ef.84f26c","order":2,"disp":true,"width":"6","collapse":false},{"id":"7f754d3.3f6fab4","type":"ui_group","z":"","name":"Age","tab":"9b02a7f9.4a5a08","order":1,"disp":true,"width":"6","collapse":false},{"id":"d3d95023.6f1f1","type":"ui_group","z":"","name":"Sensor BMP180","tab":"5b1f3ef.84f26c","order":3,"disp":true,"width":"6"},{"id":"3e79ffd5.70a8","type":"ui_group","z":"","name":"PH Level","tab":"5b1f3ef.84f26c","order":4,"disp":true,"width":"6","collapse":false},{"id":"1fe701e5.6fca8e","type":"ui_group","z":"","name":"DHT11: Humid (24 Horas)","tab":"5b1f3ef.84f26c","order":6,"disp":true,"width":"6"},{"id":"b3397925.9bf638","type":"ui_group","z":"","name":"BMP180: Pressure (24 Horas)","tab":"5b1f3ef.84f26c","order":7,"disp":true,"width":"6"},{"id":"b40eee31.ed727","type":"ui_group","z":"","name":"DS18B20: Temp (24 Horas)","tab":"5b1f3ef.84f26c","order":8,"disp":true,"width":"6"},{"id":"46fa3684.544a08","type":"ui_group","z":"","name":"DHT11: Humid (5 Min)","tab":"5b1f3ef.84f26c","order":5,"disp":true,"width":"6"},{"id":"5b1f3ef.84f26c","type":"ui_tab","z":"","name":"MONITORING","icon":"dashboard","order":1},{"id":"b13bcf64.1e115","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"9309ba1a.95d488","type":"serial-port","z":"","serialport":"COM3","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"0","bin":"bin","out":"time","addchar":"","responsetimeout":"10000"},{"id":"e5028b23.dce048","type":"serial-port","z":"5ba8273d.72b4c8","serialport":"COM7","serialbaud":"57600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"9bb980cc.1cd05","type":"ui_group","z":"5ba8273d.72b4c8","name":"CarbonMonoxide in Atmosphere","tab":"98ca95cd.4a7818","disp":true,"width":"9"},{"id":"98ca95cd.4a7818","type":"ui_tab","z":"5ba8273d.72b4c8","name":"Home","icon":"dashboard"},{"id":"5958af7a.3dc21","type":"serial-port","z":"5ba8273d.72b4c8","serialport":"COM7","serialbaud":"57600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"55e618ab.8cc128","type":"ui_group","z":"5ba8273d.72b4c8","name":"CarbonMonoxide in Atmosphere","tab":"2890a1d.6cedf5e","disp":true,"width":"9"},{"id":"2890a1d.6cedf5e","type":"ui_tab","z":"5ba8273d.72b4c8","name":"Home","icon":"dashboard"},{"id":"7df0c008.75aea","type":"serial-port","z":"","serialport":"COM11","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"0","bin":"bin","out":"time","addchar":false},{"id":"718a69e8.ae4218","type":"ui_group","z":"","name":"Sensor DHT11","tab":"1169b2c.1986e4d","order":2,"disp":true,"width":"6"},{"id":"578738b8.a3a7b8","type":"ui_group","z":"","name":"Sensor DS18B20","tab":"1169b2c.1986e4d","order":1,"disp":true,"width":"6"},{"id":"805a474d.2dafb8","type":"ui_group","z":"","name":"Sensor BMP180","tab":"1169b2c.1986e4d","order":3,"disp":true,"width":"6"},{"id":"3c52c3d7.e35cfc","type":"ui_group","z":"","name":"Pressure, Humidity","tab":"1169b2c.1986e4d","order":4,"disp":true,"width":"6"},{"id":"a178b43b.3f6498","type":"ui_group","z":"","name":"DHT11: Humid (24 Horas)","tab":"1169b2c.1986e4d","order":6,"disp":true,"width":"6"},{"id":"c51b42b0.9ddc8","type":"ui_group","z":"","name":"BMP180: Pressure (24 Horas)","tab":"1169b2c.1986e4d","order":7,"disp":true,"width":"6"},{"id":"ebda9b1f.86e488","type":"ui_group","z":"","name":"DS18B20: Temp (24 Horas)","tab":"1169b2c.1986e4d","order":8,"disp":true,"width":"6"},{"id":"7f4104a3.82539c","type":"ui_group","z":"","name":"DHT11: Humid (5 Min)","tab":"1169b2c.1986e4d","order":5,"disp":true,"width":"6"},{"id":"1169b2c.1986e4d","type":"ui_tab","z":"","name":"MONITORING","icon":"dashboard","order":1},{"id":"6cc5586f.621278","type":"serial-port","z":"","serialport":"COM11","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"0","bin":"bin","out":"time","addchar":false},{"id":"476af0ac.d391a","type":"ui_group","z":"","name":"Light Sensor","tab":"9b02a7f9.4a5a08","order":2,"disp":true,"width":"6","collapse":false},{"id":"e8ba7786.42da88","type":"ui_group","z":"","name":"PH Sensor","tab":"9b02a7f9.4a5a08","order":1,"disp":true,"width":"6","collapse":false},{"id":"c3e514d8.a7a328","type":"ui_group","z":"","name":"EC Sensor","tab":"9b02a7f9.4a5a08","order":3,"disp":true,"width":"6","collapse":false},{"id":"776c2ab8.ef4cc4","type":"ui_group","z":"","name":"Pressure, Humidity","tab":"a30d0774.a77f48","order":4,"disp":true,"width":"6"},{"id":"385b76f.1620e8a","type":"ui_group","z":"","name":"DHT11: Humid (24 Horas)","tab":"a30d0774.a77f48","order":6,"disp":true,"width":"6"},{"id":"d9636f3.f18c69","type":"ui_group","z":"","name":"BMP180: Pressure (24 Horas)","tab":"a30d0774.a77f48","order":7,"disp":true,"width":"6"},{"id":"e1f3a7df.de4ee8","type":"ui_group","z":"","name":"DS18B20: Temp (24 Horas)","tab":"a30d0774.a77f48","order":8,"disp":true,"width":"6"},{"id":"f8dbea29.833e28","type":"ui_group","z":"","name":"DHT11: Humid (5 Min)","tab":"a30d0774.a77f48","order":5,"disp":true,"width":"6"},{"id":"a30d0774.a77f48","type":"ui_tab","z":"","name":"MONITORING","icon":"dashboard","order":1},{"id":"9b02a7f9.4a5a08","type":"ui_tab","z":"","name":"SaraPonics","icon":"dashboard","disabled":false,"hidden":false},{"id":"e593c242.48df","type":"serial-port","z":"","serialport":"COM11","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"0","bin":"bin","out":"time","addchar":false},{"id":"b1cc1d8c.0b8d5","type":"ui_group","z":"","name":"Sensor DHT11","tab":"347bac09.9f7fe4","order":2,"disp":true,"width":"6"},{"id":"c7ae9128.1b1b4","type":"ui_group","z":"","name":"Sensor DS18B20","tab":"347bac09.9f7fe4","order":1,"disp":true,"width":"6"},{"id":"57346e7.1e6f49","type":"ui_group","z":"","name":"Sensor BMP180","tab":"347bac09.9f7fe4","order":3,"disp":true,"width":"6"},{"id":"e0d36044.3cda7","type":"ui_group","z":"","name":"Pressure, Humidity","tab":"347bac09.9f7fe4","order":4,"disp":true,"width":"6"},{"id":"50ac0d6a.c80634","type":"ui_group","z":"","name":"EC Level (24 Hours)","tab":"9b02a7f9.4a5a08","order":6,"disp":true,"width":"6","collapse":false},{"id":"b7a6ba0f.fb7758","type":"ui_group","z":"","name":"BMP180: Pressure (24 Horas)","tab":"347bac09.9f7fe4","order":7,"disp":true,"width":"6"},{"id":"9072b6ef.607188","type":"ui_group","z":"","name":"DS18B20: Temp (24 Horas)","tab":"347bac09.9f7fe4","order":8,"disp":true,"width":"6"},{"id":"a060ff0f.c95f4","type":"ui_group","z":"","name":"DHT11: Humid (5 Min)","tab":"347bac09.9f7fe4","order":5,"disp":true,"width":"6"},{"id":"347bac09.9f7fe4","type":"ui_tab","z":"","name":"MONITORING","icon":"dashboard","order":1},{"id":"64c03344.e416cc","type":"ui_group","z":"","name":"Light Sensor","tab":"9b02a7f9.4a5a08","disp":true,"width":"6","collapse":false},{"id":"f1487f0c.64ccd","type":"ui_group","z":"","name":"PH Sensor","tab":"9b02a7f9.4a5a08","disp":true,"width":"6","collapse":false},{"id":"a2a0c3f0.b5bff","type":"ui_group","z":"","name":"Group 1","tab":"eaaa5324.afe28","disp":true,"width":"6","collapse":false},{"id":"386ae2a0.74aa2e","type":"ui_group","z":"","name":"Group 2","tab":"eaaa5324.afe28","disp":true,"width":"6","collapse":false},{"id":"408dcbb5.4ec194","type":"ui_group","z":"","name":"Group 3","tab":"eaaa5324.afe28","disp":true,"width":"6","collapse":false},{"id":"eaaa5324.afe28","type":"ui_tab","z":"","name":"Tab1","icon":"dashboard"},{"id":"ee38cb86.bb2c88","type":"ui_group","z":"","name":"Group 1","tab":"38be31ba.146d6e","disp":true,"width":"6","collapse":false},{"id":"989a286e.00d238","type":"ui_group","z":"","name":"Group 2","tab":"38be31ba.146d6e","disp":true,"width":"6","collapse":false},{"id":"7c82fe14.c3ca1","type":"ui_group","z":"","name":"Group 3","tab":"38be31ba.146d6e","disp":true,"width":"6","collapse":false},{"id":"38be31ba.146d6e","type":"ui_tab","z":"","name":"Tab1","icon":"dashboard"},{"id":"227dccf4.339b04","type":"serial in","z":"5ba8273d.72b4c8","name":"","serial":"9309ba1a.95d488","x":150,"y":260,"wires":[["80bb05a8.ddcf88"]]},{"id":"ff8f51e.01035b","type":"debug","z":"5ba8273d.72b4c8","name":"Frame from Sensors","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":620,"y":200,"wires":[]},{"id":"2da0c801.1e2d88","type":"file","z":"5ba8273d.72b4c8","name":"Sensor Data","filename":"C:\\Users\\Radzi\\Desktop\\Sensor DataBase.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","x":910,"y":240,"wires":[[]]},{"id":"7934a2b7.5fe86c","type":"ui_gauge","z":"5ba8273d.72b4c8","name":"Light Sensor","group":"476af0ac.d391a","order":1,"width":"0","height":"0","gtype":"gage","title":"Light Sensor","label":"","format":"{{value}}","min":0,"max":"1000","colors":["#008000","#ff8000","#ff0000"],"seg1":"300","seg2":"700","x":910,"y":360,"wires":[]},{"id":"80bb05a8.ddcf88","type":"function","z":"5ba8273d.72b4c8","name":"toString()","func":"var newMsg = {payload: msg.payload.toString()};\nreturn newMsg;","outputs":1,"noerr":0,"x":280,"y":260,"wires":[["94138edb.a496b"]]},{"id":"94138edb.a496b","type":"split","z":"5ba8273d.72b4c8","name":"","splt":" ","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":410,"y":260,"wires":[["82ce03a.00959","ff8f51e.01035b"]]},{"id":"82ce03a.00959","type":"function","z":"5ba8273d.72b4c8","name":"Payload Object Sensor","func":"var newMsg = {};\nvar Sensor = {\n    NData: 0, \n    lightString: 0,\n    phString: 0,\n    ecString: 0,\n    Time: new Date().toString()\n};\n\ncontext.data = context.data || {};\n\nswitch(msg.parts.index){\n    case 0:\n        context.data.NData = parseFloat(msg.payload);\n        msg = null;\n        break;\n    case 1:\n        context.data.lightString = parseFloat(msg.payload);\n        msg = null;\n        break;\n    case 2:\n        context.data.phString = parseFloat(msg.payload);\n        msg = null;\n        break;\n    case 3:\n        context.data.ecString = parseFloat(msg.payload);\n        msg = null;\n        break;\n    default:\n        msg = null;\n        break;\n}\n\nAllData = context.data.NData &&\n          context.data.lightString &&\n          context.data.phString &&\n          context.data.ecString;\n\nif(AllData){\n    var time = Date();\n    context.data.Time = time.toString();\n    Sensor = context.data;\n    newMsg = { payload: context.data,\n    topic: 'Frame Sensor' };\n    context.data = null;\n    return newMsg;\n}\nelse\n    return msg;\n\n\n","outputs":1,"noerr":0,"x":600,"y":320,"wires":[["19b4b70b.fd7b29","2da0c801.1e2d88","4e638484.7c8f4c"]]},{"id":"19b4b70b.fd7b29","type":"function","z":"5ba8273d.72b4c8","name":"Split Data","func":"var msglightString = {payload: msg.payload.lightString};\nvar msgphString = {payload: msg.payload.phString};\nvar msgecString = {payload: msg.payload.ecString};\n\nreturn [msglightString, msgphString, msgecString ];","outputs":"6","noerr":0,"x":580,"y":540,"wires":[["853c9474.774598","7934a2b7.5fe86c"],["f16b41c1.f4d13","2854acdb.9a7424"],["73a6c537.7ee88c","e40c8885.ac8a48"],[],[],[]]},{"id":"f16b41c1.f4d13","type":"ui_gauge","z":"5ba8273d.72b4c8","name":"PH Sensor","group":"e8ba7786.42da88","order":1,"width":"0","height":"0","gtype":"gage","title":"PH Sensor","label":"","format":"{{value}}","min":0,"max":"14","colors":["#008000","#ff8000","#ff0000"],"seg1":"4","seg2":"9","x":910,"y":480,"wires":[]},{"id":"73a6c537.7ee88c","type":"ui_gauge","z":"5ba8273d.72b4c8","name":"Nutrient Sensor","group":"c3e514d8.a7a328","order":1,"width":"0","height":"0","gtype":"gage","title":"Nutrient Level","label":"","format":"{{value}}","min":0,"max":"2","colors":["#008000","#ff8000","#ff0000"],"seg1":"0.8","seg2":"1.5","x":920,"y":600,"wires":[]},{"id":"4e638484.7c8f4c","type":"debug","z":"5ba8273d.72b4c8","name":"Frame from Sensors","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":940,"y":200,"wires":[]},{"id":"853c9474.774598","type":"trigger","z":"5ba8273d.72b4c8","op1":"","op2":"","op1type":"pay","op2type":"nul","duration":"1","extend":false,"units":"min","reset":"","bytopic":"all","name":"Sample 1 Min","x":920,"y":420,"wires":[["c8261ff4.cf1f6"]]},{"id":"c8261ff4.cf1f6","type":"ui_chart","z":"5ba8273d.72b4c8","name":"Ambient Lighting Level (1 Hours)","group":"476af0ac.d391a","order":2,"width":0,"height":0,"label":"Ambient Lighting Level","chartType":"line","legend":"false","xformat":"auto","interpolate":"basis","nodata":"","dot":false,"ymin":"0","ymax":"1000","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":"","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":1160,"y":420,"wires":[[]]},{"id":"2854acdb.9a7424","type":"trigger","z":"5ba8273d.72b4c8","op1":"","op2":"","op1type":"pay","op2type":"nul","duration":"1","extend":false,"units":"min","reset":"","bytopic":"all","name":"Sample 1 Min","x":920,"y":540,"wires":[["78a46ba2.73d014"]]},{"id":"78a46ba2.73d014","type":"ui_chart","z":"5ba8273d.72b4c8","name":"PH Level (1 Hours)","group":"e8ba7786.42da88","order":2,"width":0,"height":0,"label":"PH Level","chartType":"line","legend":"false","xformat":"auto","interpolate":"basis","nodata":"","dot":false,"ymin":"0","ymax":"14","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":"","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":1110,"y":540,"wires":[[]]},{"id":"e40c8885.ac8a48","type":"trigger","z":"5ba8273d.72b4c8","op1":"","op2":"","op1type":"pay","op2type":"nul","duration":"1","extend":false,"units":"min","reset":"","bytopic":"all","name":"Sample 1 Min","x":920,"y":660,"wires":[["5c9b2f6d.1a211"]]},{"id":"5c9b2f6d.1a211","type":"ui_chart","z":"5ba8273d.72b4c8","name":"EC Level (1 Hours)","group":"c3e514d8.a7a328","order":2,"width":0,"height":0,"label":"Nutrient Level","chartType":"line","legend":"false","xformat":"auto","interpolate":"basis","nodata":"","dot":false,"ymin":"0","ymax":"2","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":"","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":1110,"y":660,"wires":[[]]}]